div#content {
  width: 1300px;
  margin: auto;
  position: relative;
}

div#title {
  width: auto;
  margin: auto;
  position: relative;
  border: 1px solid currentColor;
}

div#menu_hedder {
  display: table-cell;
  height: 25px;
  width: 1300px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 1px 1px #ffffff;
  font-color: black;
  font-size: 90%;
  border: 1px solid currentColor;
  background: -ms-linear-gradient(#FFFAFA 0%, #DCDCDC 50%, #D3D3D3 51%, #C0C0C0 100%);
}

div#menu_left {
  float: left;
  display: table-cell;
  height: auto;
  width: 200px;
  text-align: left;
  vertical-align: middle;
  text-shadow: 1px 1px 1px #ffffff;
  color: black;
  font-size: 12px;
  border: 1px solid currentColor;
}

div#main {
  border: 1px solid currentColor;
  float: left;
  height: auto;
  width: 1096px;
}

div#main h3 {
  font-size: 36px;
  text-align: center;
}


table#consult {
  width: 90%;
  border: 1px solid currentColor;
}

td#headline {
  background: steelblue;
  color: snow;
  font-weight: 900;
}

td#number {
  background: steelblue;
  color: snow;
  font-weight: 900;
}

td#thread {
  background: steelblue;
  color: snow;
  font-weight: 900;
  text-align: left;
  vertical-align: top;
}

td#element {
  background: steelblue;
  color: snow;
  font-weight: 900;
}

td#reference {
  color: black;
  text-align: left;
}